<svg
  height=30px
  width=30px
  style='transform:rotate({{knobAngle}}deg);'
  viewBox='0 0 30 30'
>
  <circle cx=15 cy=15 r=13></circle>
  <polygon points='13,15 13,0 17,0 17,15'></polygon>
</svg>
<label class='left'>L</label>
<label class='right'>R</label>
<img class='drag-helper' src='icons/empty.png'>
{{yield}}
