@font-face {
  font-family: 'Megrim';
  src: url('/fonts/Megrim.ttf');
}

@font-face {
  font-family: 'Bungee Inline';
  src: url('/fonts/BungeeInline-Regular.ttf');
}

@font-face {
  font-family: 'Bungee Outline';
  src: url('/fonts/BungeeOutline-Regular.ttf');
}

@font-face {
  font-family: 'Bungee Shade';
  src: url('/fonts/BungeeShade-Regular.ttf');
}

@font-face {
  font-family: 'Codystar Light';
  src: url('/fonts/Codystar-Light.ttf');
}

@font-face {
  font-family: 'Codystar Regular';
  src: url('/fonts/Codystar-Regular.ttf');
}

@font-face {
  font-family: 'Monoton Regular';
  src: url('/fonts/Monoton-Regular.ttf');
}

@font-face {
  font-family: 'Monofett';
  src: url('/fonts/Monofett.ttf');
}
