.channel-strip {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #DDD;
  width: calc(100% / 9 - 2px);

  h1 {
    margin: 4px 0 0 0;
    font-size: 21px;
  }

  .trigger-pad {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background-color: #88999E;
    position: relative;
    .light {
      pointer-events: false;
      background: #FFFFCC;
      position: absolute;
      border-radius: 4px;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3) inset;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
    }
  }

  .solo,
  .mute {
    box-shadow:
      1px 1px 0px 0px #999;
    background: #CCC;
    border-radius: 2px;
    outline: none;
    display: inline-block;
    width: 20px;
    text-align: center;
    font-size: $font-size-3;
    font-family: $sans-serif-font;
    line-height: 20px;
    height: 20px;
    margin-right: 3px;
    color: $font-color-dark-1;
    position: relative;
    .label,
    .light {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .light {
      z-index: 1;
      background: #FFFFDD;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4) inset;
      opacity: 0;
    }
  }

  &.focused {
    box-shadow: 0px 0px 16px 5px #ccccee inset;
  }

  &:focus {
    outline: none;
  }

  &.solo {
    .solo {
      .light {
        opacity: .4;
      }
      background: #AAEEAA;
    }
  }

  &.mute {
    .mute {
      .light {
        opacity: .4;
      }
      background: #EE9999;
    }
  }

  &.master {
    background: #555;
    .pan-knob {
      color: #eee;
      svg {
        circle {
          stroke: #DDD;
          fill: #999;
        }
        polygon {
          fill: #EEE;
        }
      }
    }
    .volume-fader {
      input[type=range]::-webkit-slider-thumb {
        background:#eee;
        box-shadow: 0px 0px 10px 3px #ccc inset;
      }
      .value {
        background: white;
        color: #333
      }
    }
    div.brand {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      height: 13%;

      h1 {
        position: absolute;
        letter-spacing: -1px;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #FFAA88;
      }
      .label-light {
        opacity: 0;
        color: #FFFFCC;
        text-shadow: 0px 0px 15px #FFFFCC;
      }
    }
  }
}
