.eq-panel {
  min-height: 180px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 12px 8px 14px;
  background: #CCC;
  align-items: center;
}
