.transport-button {
  width: 30px;
  height: 30px;
  background: #DDDDCC;
  box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.1) inset;
  border-radius: 2px;
  margin: 4px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  svg {
    polygon {
      fill: #444;
    }
  }
}
